<template>
    <div class="card" :class="{'is-loading': loading}">
        <div class="card-loading" v-if="loading">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="card-inner" v-else>
            <div class="card-header">
                <div class="card-header-content">
                    <slot name="header"/>
                </div>
                <div class="card-header-aside">
                    <slot name="actions"/>
                </div>
            </div>
            <div class="card-body">
                <slot/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            loading: {
                type: Boolean,
                default: false
            }
        }
    };
</script>

<style>
    .card {
        background-color: white;
        display: flex;
        border: 1px solid #cecece;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .card-inner {
        width: 100%;
    }

    .card-header h1,
    .card-header h2,
    .card-header h3 {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

    .card-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 50px;
        background-color: #f8f8f8;
    }


    .card-header,
    .card-body {
        padding: 20px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #f0f3f5;
    }

    .card-header-content {
        flex: 1;
    }

    .card-action {
        margin-left: 10px;
        font-weight: bold;
        font-size: 14px
    }
</style>
