<template>
    <data-provider :url="subredditUrl" v-slot="{ response, loading, error }">

        <!-- Display error if the subreddit is invalid -->
        <card :loading="loading" v-if="error">
            <template v-slot:header>
                <h3>/r/{{ subreddit }} is invalid</h3>
            </template>

            <template v-slot:default>
                Could not load any posts from /r/{{ subreddit }}
            </template>
        </card>

        <!-- Show the posts in the subreddit if it is valid -->
        <card :loading="loading" v-else>

            <template v-slot:header>
                {{ response.data.children.length }} Posts in

                <strong>
                    /r/{{ subreddit }}
                </strong>
            </template>

            <template v-slot:actions>
                <a :href="`https://www.reddit.com/r/${subreddit}`" class="mr-2" target="_blank">
                    <i class="fas fa-fw fa-external-link-alt"></i>
                </a>
                <button @click="$emit('remove')">
                    <i class="fas fa-fw fa-times"></i>
                </button>
            </template>

            <template v-slot:default>
                <ul>
                    <li class="flex p-2" :key="post.id" v-for="post in response.data.children">

                        <div class="flex flex-col md:flex-row md:mr-0 mr-2 items-start">
                            <!-- Upvotes -->
                            <div class="w-12 text-xs mb-2 md:mb-0">
                                <i class="fas fa-fw fa-arrow-alt-up"></i>
                                {{ post.data.ups }}
                            </div>

                            <!-- Comments -->
                            <div class="w-12 text-xs">
                                <i class="fas fa-fw fa-comments"></i>
                                {{ post.data.num_comments }}
                            </div>
                        </div>
                        <!-- Title -->
                        <div class="flex-1">
                            <a
                                    :href="permalinkUrl(post.data.permalink)"
                                    :title="permalinkUrl(post.data.permalink)"
                                    target="_blank"
                                    v-html="post.data.title"></a>
                        </div>
                    </li>
                </ul>
            </template>
        </card>
    </data-provider>
</template>
<script>
    import DataProvider from "./DataProvider";
    import Card from "./Card";

    export default {
        props: ["time", "sort", "subreddit"],
        components: {
            DataProvider,
            Card,
        },
        methods: {
            permalinkUrl(link) {
                return `https://www.reddit.com${link}`;
            }
        },
        computed: {
            subredditUrl() {
                return `https://www.reddit.com/r/${this.subreddit}/${this.sort}.json?limit=10&t=${this.time}`
            }
        }

    }
</script>