<template>
    <div id="app">
        <div class="grid-heading">
            <div class="flex content-between">
                <div class="flex-1">
                    <i class="fab fa-fw fa-reddit-alien mr-2"></i>
                    <span class="inline-block sm:hidden">R{{ sort.charAt(0).toUpperCase() }}PV</span>
                    <span class="hidden sm:inline-block">Reddit {{ sort | capitalize }} Posts Viewer</span>
                </div>
                <div>
                    <div class="card-action inline">
                        <select @change="onPresetSelected($event.target.value)">
                            <optgroup label="Select Preset">
                                <option v-for="p in presets" :value="p">{{ p | capitalize }}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="card-action inline">
                        <select v-model="sort">
                            <option v-for="s in sortOptions" :value="s">{{ s | capitalize }}</option>
                        </select>
                    </div>
                    <div class="card-action inline" v-if="shouldShowTimeOption">
                        <select v-model="time">
                            <option v-for="t in timeOptions" :value="t">{{ t | capitalize }}</option>
                        </select>
                    </div>
                    <button class="card-action" type="button" @click="clear" v-if="!isPreset">
                        Clear
                        <small>({{ subreddits.length }})</small>
                    </button>
                    <button class="card-action" type="button" @click="add" v-if="!isPreset">
                        <i class="fas fa-fw fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="grid" v-if="subreddits.length">
            <reddit-card
                    :key="subreddit"
                    :time="time"
                    :sort="sort"
                    v-for="subreddit in subreddits"
                    :subreddit="subreddit"
                    @remove="remove(subreddit)"
            />
        </div>
        <div class="grid-empty" @click="add" v-else>
            <div>There are no subreddits to show... Add some :D</div>
        </div>
    </div>
</template>

<script>

    import RedditCard from "./components/RedditCard";

    export default {
        name: "app",
        components: {
            RedditCard,
        },
        data() {
            return {
                sort: "hot",
                sortOptions: [
                    "hot",
                    "new",
                    "controversial",
                    "top",
                    "rising",
                ],
                timeOptionVisibleFor: [
                    "controversial",
                    "top",
                ],
                time: "hour",
                timeOptions: [
                    "hour",
                    "day",
                    "week",
                    "month",
                    "year",
                    "all",
                ],
                subreddits: [],
                isPreset: false,
            }
        },
        created() {
            this.load();

            // Whenever these attributes change, run the persist method.
            ["sort", "time", "subreddits"].forEach((property) => {
                this.$watch(property, this.persist);
            });
        },

        computed: {
            presets() {
                return this.$presetService.getPresetNames();
            },

            shouldShowTimeOption() {
                return this.timeOptionVisibleFor.includes(this.sort);
            }
        },

        methods: {

            load() {

                let subs = JSON.parse(localStorage.getItem("subreddits"));
                if (subs) {
                    this.subreddits = subs;
                }

                let sort = localStorage.getItem("sort");
                if (sort && time !== "null") {

                    this.sort = sort;
                }

                let time = localStorage.getItem("time");
                if (time && time !== "null") {
                    this.time = time;
                }

            },

            persist() {
                if (this.isPreset) return;

                localStorage.setItem("subreddits", JSON.stringify(this.subreddits));
                localStorage.setItem("sort", this.sort);
                localStorage.setItem("time", this.time);
            },

            add() {

                const msg = "Subreddit names, without /r/, add multiple with comma as separator:";
                const defaultVal = "elm, webdev, flutterdev";

                const list = prompt(msg, defaultVal);

                if (!list) {
                    return;
                }

                this.isPreset = false;

                list.split(",")
                    .map(sub => sub.trim())
                    .filter(sub => sub) // Remove blank entries
                    .filter(sub => !this.subreddits.includes(sub))
                    .forEach(sub => this.subreddits.push(sub));
            },

            clear() {
                this.subreddits = [];
            },

            remove(sub) {
                this.subreddits = this.subreddits.filter((s) => s !== sub);
            },

            onPresetSelected(presetName) {
                const subs = this.$presetService.getPresetSubreddits(presetName);

                if (subs.includes("__LOCALSTORE__")) {
                    this.isPreset = false;
                    this.load();
                } else {
                    this.isPreset = true;
                    this.subreddits = subs;
                }
            },
        }
    };
</script>


<style>
    * {
        box-sizing: border-box;
        font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    }

    .grid-heading {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(228, 228, 228, 0.43);

    }

    .grid-empty {
        background-color: #f8f8f8;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px dashed #e7e7e7;
        font-size: 20px;
    }

    select {
        background-color: #fefefe;
        padding: 5px 10px;
        border: 1px solid #cecece;
        border-radius: 5px;
    }

    select:focus {
        outline: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    @media screen and (max-width: 1500px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 1000px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    #app {
        padding: 20px;
    }
</style>
